name: hidrolink
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  supabase_flutter: ^2.3.0
  flutter_dotenv: ^5.1.0

flutter:
  uses-material-design: true
